.musicList{
  .music-name{
    cursor: pointer;
    transition: 0.5s;
  }

  .music-name:hover{
    text-decoration: underline;
  }

  .container{
    display: flex;
  }


}
@media (min-width: 768px) {
  .music-name{
      font-size: 1.4rem;
  }
}
