.mainPage{
  display: grid;
  padding-bottom: 10vh;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .mainPage {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }
}

@media (max-width: 767px) {

  .mainPage {
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  }
}

