@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body::-webkit-scrollbar{
  width: 0.25rem;
}
body::-webkit-scrollbar-track{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background-color: #1b77b8;
}
body{
  font-family: "Montserrat";
  background-color: white;
  @media (min-width: 768px) {
    margin-left: 5.5rem;
  }

  @media (max-width: 767px) {
    margin-top: 11vh;
  }

}
